.Dailyupdates {
  padding: 0.4rem;

  &_feat {
    display: flex;
    justify-content: space-around;
  }
  h1 {
    color: white;
    font-size: 2em;
    margin-left: 3em;
    margin-bottom: 0.6em;
    text-transform: uppercase;
  }
}
