@import url("https://fonts.googleapis.com/css2?family=Mynerve&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
.forms {
  display: flex;
  width: 50%;
  margin: 0 auto;
  .input {
    color: white;
    width: 100%;
    // margin-inline: auto;
    margin-bottom: 0.1em;
    font-size: 1.3rem;
    input {
      width: 100%;
      background-color: rgba(170, 170, 170, 0.459);
      border: none;
      padding: 0.7em;
      color: #fff;
      font-weight: 800;
      border-radius: 1em;
      font-family: "Mynerve", cursive;
      font-size: 1.4rem;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: rgb(245, 240, 240);
      }
    }
    .button {
      border: none;
    }
  }
  .skeleton {
    height: 10rem;
    width: 20rem;
  }
  @media (max-width: 50em) {
    .input {
      input {
        font-size: 0.8em;
        padding: 0.3em;
        width: 100%;
        // margin-left: -6em;
      }
    }
  }

  .button {
    width: 10rem;
    margin-left: 2rem;
    background-color: rgba(87, 85, 85, 0.918);
    border-radius: 1rem;
    color: white;
    font-size: 1.6rem;
    font-family: "Mynerve", cursive;
    &:hover {
      background-color: rgb(73, 70, 70);
    }
  }
}
.Toastify__toast--warning {
  background: #FFE8BC !important;
}
.Toastify__toast--error {
  background: #FCA7A9 !important;
}
.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  color: #10171D; /* #10171D */
  font-size: 0.875rem !important;
}
.toastProgress {
  background: #333F48 !important;
}
@media (max-width: 50em) {
  .forms {
    width: 100%;
    .input {
      width: 20rem;
      input {
        padding: 0.9em;
      }
    }
    .button {
      width: 6rem;
      font-size: 1rem;
    }
  }
}
