.widget {
  &_container {
    position: relative;
    padding: 2rem;
    color: #fff;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_top {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &_img {
    img {
      right: 0;
      top: -5rem;
      width: 40rem;
      position: absolute;
    }
    p {
      text-transform: uppercase;
    }
  }
  &_degs {
    h1 {
      font-size: 10em;
      font-weight: 300;
    }
    h3 {
      text-transform: capitalize;
      font-size: 2em;
    }
    span {
      font-size: 1.2em;
      text-transform: uppercase;
    }
    p {
      text-transform: uppercase;
    }
  }
  &_bottom {
    display: flex;
    margin-top: 3rem;
    width: 100%;
    justify-content: space-around;

    span {
      display: flex;
      align-items: center;
    }
    .icon {
      font-size: 5em;
    }
  }
}

@media (max-width: 50em) {
  .widget {
    &_container {
      width: 100%;
      padding: 2rem;
    }

    &_top {
      width: 100%;
      img {
        width: 29em;
        right: -7rem;
      }
    }
    &_bottom {
      width: 100%;
      justify-content: center;
      margin-top: 0.4em;
      span {
        h1 {
          font-size: 0.9em;
        }
      }
      .icon {
        font-size: 2em;
      }
    }
    &_degs {
      h1 {
        font-size: 7em;
      }
      span {
        font-size: 0.7em;
      }
      p {
        font-size: 0.7em;
      }
    }
  }
}
// @media only screen and (min-width: 64em) and (max-width: 90em) {
//   .widget {
//     &_container {
//       width: 100%;
//     }
//   }
// }
