.weatherblock {
  font-size: 1.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 17%;

  padding: 1rem;
  .icon {
    font-size: 2em;
    margin: 0.2em;
  }
  &_degs {
    font-size: 0.8em;
  }
  &_period {
    font-size: 0.7em;
  }
}
